.container {
    flex: 1;
    align-self: center;
    margin: 20px;
    background-image: url(https://t4.ftcdn.net/jpg/04/35/97/07/360_F_435970749_e7XTstmySOZhGDXNllmaBQFsB4o450wZ.jpg);
    overflow: auto;
    z-index: 0;
}

.controls {
    height: 0;
    position: relative;
    display: flex;
    top: 25px;
    left: 20px;
    z-index: 2;
}

.svg-drawing {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    cursor: move;
}